{% extends 'base.html.twig' %}

{% block title %}
    {% trans with {'%opponent%': opponent} %}home.show_game_title{% endtrans %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}home.create_game{% endtrans %}</h1>
        <ul>
            {% for user in users %}
                <a href="{{ path('start_game/') }}"><li>{{ user.username }}</li></a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
